

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #32425C;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-wight: #FFFFFF;
    --basic-black: #000000;
    --basic-shadow: #B52933;
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-success: #5FBB2D;
    --special-red: #BA2732;
    --special-grey: #293449;
    --special-greydark:#1D2739;
    --special-greylight: #EAEAEA;
    --special-wight: #F3F7F9;
    --special-shadow: rgba(0, 0, 0, 0.15);
    --header-active: rgba(255, 255, 255, 0.5);    
}

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-wight);
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
    text-decoration: none;
    }

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    /*outline: 1px solid violet;*/
}  


/*Верх header*/
.top-header {
    background-color: var(--special-grey);
    font-size: 18px;
    line-height: 24px;  
}

.top-header .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  

    
}

.top-header a{
    color: var(--basic-wight);
    text-align: center;
    display: block;
    padding-top: 9px;
    padding-bottom: 9px;
 }

.logo-header {
    padding-left: 55px;
    padding-right: 57px;
    background-color: var(--basic-red);
    box-shadow: 0px 5px 0px var(--basic-shadow);
    
        
}

.logo-header:active {
    background-color: var(--special-red);
    box-shadow: 0px 5px 0px var(--basic-shadow);
}

.bookmarks-header {
    margin-left: 353px;   
    padding-right: 20px;
    padding-left: 20px;     
}

.basket-header {
    margin-right: 30px;    
    padding-right: 20px;
    padding-left: 20px;
}

.pay-header {
    background-color: var(--basic-green);
    margin-left: auto;
    padding: 19px 9px;
}


.bookmarks-header:active,
.basket-header:active {
    color: var(--header-active);
}

.pay-header:focus {
    background-color: var(--special-success);
}

.pay-header:active {
    background-color: var(--basic-green);
    color:var(--header-active);
}

/*Основной header*/
.main-header { 
    background-color: var(--basic-background);
    background-image: url("../img/header.png");
    background-position: center, 0 0; 
    background-repeat: no-repeat, repeat;
    width: 100%;
    min-height: 320px;    
}

.wrapper {
    display: grid;
    grid-template-columns: min-content 1fr min-content;    
    margin-bottom: 45px;

}

.quote-header {
    font-style: Italic;
    font-size: 16px; 
    line-height: 23px;
    color: var(--basic-red);
    width: 197px;
    min-height: 71px;
    margin: 0px;
    margin-top: 43px;  
    margin-left: 30px;
    margin-right: 93px;    
}

.contacts-header {       
    margin-top: 46px;
    text-align: center;               
}


.contacts-header a {
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 74px;
    padding-right: 45px;
    padding-top: 7px;
    padding-bottom: 8px;
    border: 3px solid var(--basic-wight);
}

.contacts-header p {
    color: var(--basic-grey);
    font-size: 14px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    margin-top: 3px; 
}

.registration {    
    padding: 0;
    margin: 0px;
    margin-top: 52px;
    text-align: end;    
    width: 281px;  

}

.registration-enter { 
    padding: 0px;
    margin: 0px;
    padding-left: 45px;
    padding-right: 27px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 5px;
    position: relative
}

.registration-enter::before {
    content: "";
    background-image: url(../img/input_output_icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px; 
    height: 18px;
    position: absolute;
    top: 15px;
    left: 20px;
    
}


.registration-user {
    padding: 0px;
    margin: 0px;
    padding: 12px 24px; 


}


.registration a {
    background-color: var(--basic-wight);
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px; 
}

.registration a:focus,
.registration a:hover{
    color: var(--basic-red);
}

.registration a:active{
    color: var(--basic-greylight);
}

.user-wrapper {
    background-color: var(--basic-wight);
    background-repeat: no-repeat;
    min-width: 299px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;   
    
}

.user-enter,
.user-exit {
    display: block;
    color: var(--basic-black) ;
    font-size: 21px;
    line-height: 21px;
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;     
}

.user-enter {
    padding-left: 50px;
    padding-right: 50px;
}


.user-enter::before {
    content: "";
    background-image: url(../img/user_icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px; 
    height: 18px;
    position: absolute;
    top: 12px;
    left: 15px;
}

.user-exit::after {
    content: "";
    background-image: url(../img/input_output_icon.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px; 
    height: 18px;
    position: absolute;
    top: 12px;
    left: -40px;
    transform: rotate(180deg);
}

.user-enter:active,
.user-exit:active {
    color: var(--basic-greylight)
}

.user-cabinet {
    text-align: center;
    margin-top: 7px;
}

.user-cabinet-order {
    margin-right: 50px;


}

.user-cabinet a {
    color: var(--basic-grey) ;
    font-size: 16px;
    line-height: 18px;
    
}

.user-cabinet a:focus,
.user-cabinet a:hover{
    color: var(--basic-red);
}

.user-cabinet a:active {
    color: var(--basic-greylight);
}


.navigation-header {
    list-style: none;
    margin: 0; 
    padding: 0;
    background-color: var(--basic-grey);
    box-shadow: 0px 5px 0px var(--special-grey);
    display: flex;
    flex-wrap: wrap;
    
    
   
}

.navigation-header li {    
    flex-grow: 1;   
}



.navigation-header a {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-wight);
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    text-align: center; 

}

.navigation-header a:focus,
.navigation-header a:hover{
    background-color: var(--special-grey)
}

.navigation-header a:active{
    background-color: var(--special-greydark);
    opacity: 0.5;
}



  
.name-page {
    background-color: var(--basic-background);
    background-image: url("../img/header.png");
    background-position: center, 0 0; 
    background-repeat: no-repeat, repeat;
    font-size: 30px;
    line-height: 30px;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 29px;
    margin: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/*Фильтр каталога*/

.catalog-all { 
    display: grid;
    grid-template-columns: 220px 1fr;
    align-content: start;   
       
  
}

.filter {

    
}


.legend {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter ul {
    list-style: none;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
}

/*Button*/

.button {
    font: inherit;
    text-align: center;
    background-color: var(--basic-red);
    color: var(--basic-wight);
    border: none;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    padding: 11px 40px;
}

.button:active{
    background-color: var(--special-red);
}

.filter-button {
    background-color: var(--basic-wight);
    border: 1px solid var(--special-greylight);
    color: var(--basic-black);
    padding: 10px 78px;      

}



.products-services {
    display: none;
}


.slider {
    display: none;


}

.popular-tools {
    


}

.popular-tools h2{
    font-size: 30px; 
    line-height: 30px;
    
}

/*
Карточка товара.*/ 

.filter-result {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows:
    min-content
    1fr
    min-content;
    align-content: start;
    padding: 0px;
    margin: 0px;   
}

.sorting {
    grid-column: 1 / -1;
    
     

}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows:
    318px
    318px
    318px;
    align-content: start;
    list-style: none;
    grid-gap: 20px;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    
    
    
}

.catalog-card {
    width: 220px;
    min-height: 318px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--special-greylight);    

}

.catalog-card img {
    margin: 22px auto;  

    
}

.catalog-card-title {
    padding: 0px;
    margin: 0px;
}



.catalog-card-title a {
    font-style: bold;
    display: block;
    font-size: 18px; 
    line-height: 20px;
    color: var(--basic-black);
    width: 170px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 0 20px;
    
}

.catalog-card-price {
    
    color: var(--basic-greylight);
    font-style: bold;
    font-size: 17px; 
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

/*Картинки разнх размеров как сделать чтоб от нее отступ был автоматический, чтоб текст и кнопки был на одном уровне
как понял кнопки купить и в корзину будут всплывать как попапы с позционированием относительно карточки, ток не понял в макете указано про тень, нов фигме ее не мог найти */

.catalog-card-discount {
    font-style: bold;
    font-size: 17px; 
    line-height: 18px;
    color: var(--basic-wight);
    background-color: var(--basic-red);
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
    margin-left: 45px;
    margin-top: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 44px;    
    
}

.catalog-card-popup {
    display: none;


}

.page {
    grid-column: 1 / -1;
    
    margin-bottom: 59px;
}

.buy-button {
    font-size: 14px;
    line-height: 18px;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    color: var(--basic-wight);
    background-color: var(--basic-green);
}

.bookmark-button {
    font-size: 14px;
    line-height: 18px;    
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    display: inline-block;
    color: var(--basic-grey);
    background-color: var(--basic-wight);
    border: 3px solid var(--basic-green);

}



.popular-manufacturers {
    display: none;

}

.services {
    display: none;

}

.columns-company {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;

    
}

.contacts .big-maps {
    display: none;
}

.company {
    width: 460px;   
    
}

.contacts {
    width: 300px;

    
}

.company h2,
.contacts h2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 24px;
    margin-top: 70px;
}

/*Тут могу поставить br, чтоб доп классы не делать*/
.company p {
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    width: 478px;    
}

.contacts p{
    font-family: PT Sans;
    font-size: 13px;
    line-height: 24px;
    width: 180px;    
}


.texnomart-delivery {
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    margin-bottom: 12px;
}

.button-company,
.button-popup {
    margin-top: 20px;

}

.button-popup {
    padding-left: 61px;
    padding-right: 62px;


}

.contacts img {
    margin-top: 32px;

}

/* footer*/


.main-footer {
    background-color: var(--basic-grey);
    background-image: url("../img/footer.png");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
       
}

.wrap-footer {
    display: flex;
    flex-wrap: wrap;
}



.contacts-footer {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-wight);
    margin-bottom:  54px;
    
}

.logo-footer {
    background-color: var(--basic-red);
    display: block;
    width: 220px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 5px 0px var(--basic-shadow);
    text-align: center; 
}

.contacts-footer p {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-wight);
    padding: 0px;
    margin: 0px;
    padding-top: 48px;
}


.contacts-footer a {
    color: var(--special-wight)
}

.wrapper-footer {
    flex-grow: 1;
    padding-top: 30px;
    
}

.navigation-footer {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
      
   
    
}

.navigation-footer li {
    flex-grow: 1;    
}

.navigation-footer a {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--basic-background);
    text-align: end;    
}


.navigation-servic-footer {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 0; 
   
}

.navigation-servic-footer li {
    flex-grow: 1;
}

.navigation-servic-footer a {
    color: var(--special-yellowlight);
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 14px;
    padding-bottom: 10px;
    text-align: end;
    
}

.navigation-footer a:focus,
.navigation-footer a:hover,
.navigation-servic-footer a:focus,
.navigation-servic-footer a:hover {
    text-decoration: underline;
}

.navigation-footer a:active,
.navigation-servic-footer a:active {
    mix-blend-mode: normal; 
    opacity: 0.5;
}

.bottom-footer {
   
    color: var(--basic-wight);
    background-color: var(--special-greydark);
    background-image: url("../img/footer_bottom.png");
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
        
}

.wrap-bottom-footer {
    display: flex;
    
}

.text-footer-company {
    width: 227px;
    padding-top: 36px;
    padding-bottom: 34px;
    font-size: 16px;
    line-height: 18px;
    margin-right: auto;
}

.text-footer-mail {
    width: 137px;
    font-size: 16px;
    line-height: 18px;
    padding: 0px;
    padding-top: 36px;
    padding-bottom: 34px;
    margin-right: 51px;
    margin-left: 118px;
}

.text-footer-copyright {
    width: 98px;
    font-size: 16px;
    line-height: 18px;
    padding: 0px;
    padding-top: 36px;
    padding-bottom: 34px;
    margin-right: 13px;
}

.text-footer-mail a,
.text-footer-copyright a {
    color: var(--special-ylellow);

   
}

.text-footer-mail a:hover,
.text-footer-copyright a:focus {
    text-decoration: underline;
}

.text-footer-mail a:active,
.text-footer-copyright a:active {
    color: var(--special-red);
}


.social {

    
    

}

.social-button {
list-style: none;

}

.social-button a {
    color: var(--basic-wight);
    text-align: center;
   
}

/* form-popup  */


.form-popup {
    box-shadow: 0px 4px 20px var(--special-shadow);
    display: none;
}

.name-popup label,
.email-popup label,
.text-popup label {
    font: inherit;
    font-size: 18px; 
    line-height: 24px;
    color: var(--basic-black);
}

.name-popup input, 
.email-popup input, 
.text-popup textarea {
    font: inherit;
    background-color: transparent; 
    border: 2px solid var(--basic-greylight);
    border-radius: 2px;
}

.bottom-form {
    background-color: var(--basic-greylight);
}

.form-basket {
    display: none;
}